<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.rog/wiki/xacro" name="robot">

    <xacro:include filename="rover_core.xacro" />

    <!-- <xacro:include filename="gazebo_control.xacro" /> -->

    <!-- <xacro:include filename="ros2_control.xacro" /> -->

    <!-- <xacro:include filename="arm.xacro" /> -->

    <!-- <xacro:include filename="lidar.xacro" /> -->

    <!-- <xacro:include filename="camera.xacro" /> -->

    <!-- <xacro:rrbot parent="world" prefix="$(arg prefix)">
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:rrbot> -->

    <!-- <xacro:include filename="depth_camera.xacro" /> -->




</robot>